@charset "UTF-8";

/* Structure */

body {
	margin: 0;
	padding: 0;
	background-image: url("../img/blue%20sky.jpg");
	background-color: #FF00FF;
	font-family: Gotham,'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	max-width: 1020px;
	height: 1500px;
	color: #260C84; 
}

#logo {
	padding-top: 0.5cm;
	padding-left: 0.5cm;
	width: 10;
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #260C84; 
	font-weight: 600;
}

#sub {
	padding-left: 2.2cm;
	font-family: Gotham,'Helvetica Neue', Helvetica, Arial, sans-serif; 
	color: #260C84; 
	font-size: 14px; 
	font-weight: 300;
}

#footer {
	position: relative;
	bottom: 0;
	left: 0;
	top: 990px;
	right: 1010px;
	margin-top:-200px;
	clear:both;
}

#calendarhead {
	position: relative;
	left: 20px;
	top: 10px;
	font-style: italic;
}

#calendar {
	position: relative;
	left: 150px;
	top: 0px;
	padding: 10px;
	background-color: rgba(123,234,251,0.3);
	width: 870px;
	line-height: 200%;
	float: left;
	display: inline-block;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100px;
	background-color: rgba(123,234,251,0.3);
}

li a {
	display: inline-block;
	color: #484f96;
	text-decoration: none;
	margin: 10px;
	line-height:150%;
	width: 60px;
}

#nav {
	float: left;
	display: inline-block;
}

a:link {
 	text-decoration: none;
 	color: #260C84;
}

a:visited {
 	text-decoration: none;
 	color: #260C84;
}

li a:hover {
 	text-decoration: none;
 	color: #260C84;
 	background-color: #FFFFFF;
}

a:active {
 	text-decoration: none;
 	color: #260C84;
}

